#root {
  width: 100%;
  min-height: 100vh;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #3784d5;
}

a:focus {
  outline: none;
  box-shadow: 0 0 4px #007bff;
}

a:active {
  color: #3939ad;
}

ul,
ol {
  list-style: none;
}
