.teacher_Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
  padding-bottom: 90px;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}

.back_Button {
  align-self: flex-start;
  background: #e76f51;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 20px;
}

.back_Button:hover {
  background: #d84315;
}

.details_Nav {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
}

.reviews_Button {
  background: #f7c24d;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(9, 8, 8);
  cursor: pointer;
  transition: background 0.3s ease;
}

.reviews_Button:hover {
  background: #f4a261;
}

.reviews_Button.active {
  background: #f4a261;
}

@media screen and (min-width: 768px) {
  .back_Button {
    font-size: 16px;
    padding: 12px 18px;
  }

  .reviews_Button {
    font-size: 16px;
    padding: 12px 18px;
  }
}

@media screen and (min-width: 1440px) {
  .back_Button {
    font-size: 22px;
    padding: 12px 18px;
  }

  .reviews_Button {
    font-size: 22px;
    padding: 12px 18px;
  }
}
