.reviews_Container {
  width: 100%;
  max-width: 250px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  margin-top: 20px;
}
.avatarPlaceholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f4a261;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.review {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 12px;
  background: #f8f9fa;
  border-radius: 8px;
}

.review_Info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.review_Avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.reviewer_Name {
  font-weight: bold;
}

.review_Text {
  font-size: 14px;
  margin-top: 5px;
}

.no_Reviews {
  font-size: 14px;
  color: gray;
  text-align: center;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .reviews_Container {
    max-width: 700px;
  }

  .review_Avatar {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews_Container {
    max-width: 900px;
    padding: 24px;
  }
  .reviewer_Name {
    font-size: 20px;
    font-weight: bold;
  }

  .title {
    font-size: 24px;
  }

  .review_Text {
    font-size: 24px;
  }
}
