.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.logo a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 38px;
  }
}

@media screen and (min-width: 1440px) {
  .logo {
    font-size: 48px;
  }
}
