.list_Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.teacher_page_btn {
  width: 95px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
